*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}



body{		
	background: #000;
	font-family: 'Opens Sans', sans-serif;
	font-weight: 300;
	 
}

body a{
	text-decoration: none;
}

/*clase padre ESENCIAL*/
.contenedor{	
	background: #ccc;
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

.contenido p{
	font-weight: bold;
}


/*---HEADER---*/


header a{	
	text-decoration: none;
}

.titulo h3{
	padding-top: 25px;
	font-family: 'Opens Sans', sans-serif;
	font-weight: 300;
	font-size: 20px; 
	color:#ccc;
}



.btn-menu{
	display: none;
}

.menu{
	background: #00171f; 
	display: flex;
	align-items: center;
}

.menu nav{
	z-index:1000;
	max-width: 1000px;
}

.menu nav ul li a{
	color:#4BDF41;
	font-family: 'Opens Sans', sans-serif;
	font-weight: 300;	
}

.menu nav ul li a:hover span{
	color: #fff;
}


.menu nav ul li a:hover{
	color: #fff;
}



.menu nav ul li {
	display: inline-block;
	padding: 40px 18px;
	position: relative;
}

header nav ul li a{
	padding: 30px;
}


.menu nav span{
	color: #4BDF41;
	margin-right: 10px;
}


.menu .lista{
	margin-top: 2%;			
}

/*submenu*/
header nav ul li:hover .kid{
	display: block;	
}


header nav ul li .kid{
	display: none;
	background: #00171f;
	position: absolute;	
	z-index: 1000;
}

header nav ul li .kid li {
	display: block;
	overflow: hidden;
	padding-bottom: 30px;
	border-bottom: solid 1px rgba(75,223,65,.5);
}






/*---MAIN----*/

.main{
	margin-top: 60px;
}

.logo{
	display: flex;
	align-items:center;	
}

/*imagen sin usar*/
/*.logo2{
	margin-top: 70px;
	display: flex;
	align-items:center;	
}*/

.main .imagenes .thumb{	
	background: #00171f;
	border: solid 7px;
	border-radius: 25%;
	border-color: #00171f;
}

.contenido{
	display: flex;
	align-items: center;
	height: 250px;
	margin-top: 60px;
	color: #fff;
	background: #00171f;	 
}

.contenido .info-impor {
text-align: center;
color: #4BDF41;
}

.contenido article{
	margin:3%;	
}

.contenido p {
	text-align: left;
	line-height: 50px;
}


/*slideshow*/
#slideshow{
	margin: 10% 2%;
	width: 960px;
	height: 260px;
	background: #000;
	border: solid 20px #fff;	
}

#slideshow .pagination{
	margin: 0px auto;
	width: 100px;
}

#slideshow .pagination li{
	margin: 10px 5px;
	list-style: none;	
}

#slideshow img{	
	width: 920px;
	height: 220px;
}

#slideshow .pagination li a{
	display: block;
	width: 12px;
	height: 0px;
	padding-top: 12px;
	background: #000;
	overflow: hidden;
	border-radius: 10px;
}

#slideshow .pagination li.current a{
	background: #4BDF41;
}
/*slideshow*/

 

/*----FOOTER----*/

span{
	margin-right: 10px;
}

footer{	
	width: 100%;
	padding: 30px;
	font-size: 10px;
	margin-top: 70px;
	background: #00171f;
	/*flex*/
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-flow: row wrap;
}

	


footer article p{
	line-height: 20px;
	color: #4BDF41;
	font-weight: 300;
	font-size: 10px;
	text-align: center;
}

footer nav{
	border: solid 0px;
	broder-color:#2d2d2d;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	width: 40%;
	background: #2d2d2d;


}

footer p{
	text-align: center;
	color: #4BDF41;
	line-height: 20px;
}

footer nav a{	
	color: #4BDF41;
	font-size: 10px;
	line-height: 20px;
	text-align: center;
	display: block;	
}


footer nav a:hover span{
	color: #fff;
}

footer nav a:hover{
	color: #fff;
}


@media screen and (max-width: 1200px){
	footer {
		flex-direction:column;
		padding: 0;
	}

	footer nav{
		width: 100%;
		margin-top: 20px;		
	}

	footer article{
		width: 100%;
	}

	#slideshow{
	margin: 70px auto;
	width: 760px;
	height: 160px;
	background: #000;
	border: solid 20px #fff;	
    }

    #slideshow img{	
	width: 720px;
	height: 120px;
    }

}




@media screen and (max-width: 990px){
	footer{
		flex-direction:column;	
		padding: 0;	
	}

	footer nav{
		width: 100%;
		margin-top: 20px;
	}

	p {
		font-size: 11px;
	}


	#slideshow{
	margin: 70px auto;
	width: 560px;
	height: 120px;
	background: #000;
	border: solid 20px #fff;	
    }

    #slideshow img{	
	width: 520px;
	height: 80px;
    }



}



/*ajustar img*/
@media screen and (max-width: 700px){
	#slideshow{
	margin: 70px auto;
	width: 320px;
	height: 80px;
	background: #000;
	border: solid 20px #fff;	
    }

    #slideshow img{	
	width: 280px;
	height: 40px;
    }	

	header ul li a{
		display: none;
	}


	.menu .menu-bar a{
		display: inline-block;
		background: #00171f;
		padding-top: 50px;	
		padding-bottom: -100px;
	}
	
	header a{				
		text-decoration: none;
		color: #4BDF41;
		font-size: 20px;
	}

	header  span{		
		float: right;			
	}

	/* header .menu .menu-bar .btn-menu .icon-menu {
		font-size: 25px;
		margin-left:270px;
	}*/   

	header span{

	}
    

   /*submenu responsive*/
	

	
	


}


/*ajustar img*/
@media screen and (max-width: 600px){
	#slideshow{
	margin: 70px auto;
	width: 320px;
	height: 80px;
	background: #000;
	border: solid 20px #fff;	
    }

    #slideshow img{	
	width: 280px;
	height: 40px;
    }

      .titulo h3{
		font-size: 12px;
	}

	
	  /*submenu responsive*/

	header a{				
		text-decoration: none;
		color: #4BDF41;
		font-size: 15px;
	}

 	header .menu .menu-bar .btn-menu .icon-menu {
		font-size: 18px;
		margin-left:150px;
	}   
	  /*submenu responsive*/
}



/*ajustar img*/
@media screen and (max-width: 400px){
	#slideshow{
	margin: 70px auto;
	width: 220px;
	height: 80px;
	background: #000;
	border: solid 20px #fff;	
    }

    #slideshow img{	
	width: 180px;
	height: 40px;
    }

    .titulo h3{
		font-size: 12px;
	}
	
	.menu nav li a{
		font-size: 12px;
	}

	.menu nav li{		
		padding: 40px 5px;
	}

	.main p{
		font-size: 10px;
	}

	
}




